# Airbnb - Data Visualizations Project

## Customer Approach

In [16]:
# First of all, we need to import pandas library
import pandas as pd

# Then we can try to read the CSV file for the first time
df = pd.read_csv('./Ireland_Airbnb_Listing__Detailed.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31907 entries, 0 to 31906
Data columns (total 85 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            31907 non-null  float64
 1   listing_url                                   31907 non-null  object
 2   scrape_id                                     31907 non-null  float64
 3   last_searched                                 26192 non-null  object
 4   last_scraped                                  31907 non-null  object
 5   source                                        31907 non-null  object
 6   name                                          31907 non-null  object
 7   description                                   31313 non-null  object
 8   neighborhood_overview                         14433 non-null  object
 9   picture_url                                   31907 non-null  object
 10  host_id                                       31907 non-null  int64
 11  host_url                                      31907 non-null  object
 12  host_name                                     30734 non-null  object
 13  host_since                                    30716 non-null  object
 14  host_location                                 21482 non-null  object
 15  host_about                                    12430 non-null  object
 16  host_response_time                            24838 non-null  object
 17  host_response_rate                            24838 non-null  object
 18  host_acceptance_rate                          26517 non-null  object
 19  host_is_superhost                             31506 non-null  object
 20  host_thumbnail_url                            30716 non-null  object
 21  host_picture_url                              30716 non-null  object
 22  host_neighbourhood                            22494 non-null  object
 23  host_listings_count                           30716 non-null  float64
 24  host_total_listings_count                     30716 non-null  float64
 25  host_verifications                            30716 non-null  object
 26  host_has_profile_pic                          30716 non-null  object
 27  host_identity_verified                        30716 non-null  object
 28  neighbourhood                                 14433 non-null  object
 29  latitude                                      31907 non-null  float64
 30  longitude                                     31907 non-null  float64
 31  property_type                                 31907 non-null  object
 32  room_type                                     31907 non-null  object
 33  accommodates                                  31907 non-null  int64
 34  bathrooms                                     26165 non-null  float64
 35  bathrooms_text                                31856 non-null  object
 36  bedrooms                                      29640 non-null  float64
 37  beds                                          26159 non-null  float64
 38  amenities                                     31907 non-null  object
 39  price                                         26181 non-null  object
 40  minimum_nights                                31907 non-null  int64
 41  maximum_nights                                31907 non-null  int64
 42  minimum_minimum_nights                        31902 non-null  float64
 43  maximum_minimum_nights                        31902 non-null  float64
 44  minimum_maximum_nights                        31902 non-null  float64
 45  maximum_maximum_nights                        31902 non-null  float64
 46  minimum_nights_avg_ntm                        31907 non-null  float64
 47  maximum_nights_avg_ntm                        31907 non-null  float64
 48  calendar_updated                              0 non-null      float64
 49  has_availability                              30672 non-null  object
 50  availability_30                               31907 non-null  int64
 51  availability_60                               31907 non-null  int64
 52  availability_90                               31907 non-null  int64
 53  availability_365                              31907 non-null  int64
 54  calendar_last_scraped                         31907 non-null  object
 55  number_of_reviews                             31907 non-null  int64
 56  number_of_reviews_ltm                         31907 non-null  int64
 57  number_of_reviews_l30d                        31907 non-null  int64
 58  availability_eoy                              31907 non-null  int64
 59  number_of_reviews_ly                          31907 non-null  int64
 60  estimated_occupancy_l365d                     31907 non-null  int64
 61  estimated_revenue_l365d                       26181 non-null  float64
 62  first_review                                  27692 non-null  object
 63  last_review                                   27692 non-null  object
 64  review_scores_rating                          27692 non-null  float64
 65  review_scores_accuracy                        27689 non-null  float64
 66  review_scores_cleanliness                     27689 non-null  float64
 67  review_scores_checkin                         27686 non-null  float64
 68  review_scores_communication                   27690 non-null  float64
 69  review_scores_location                        27686 non-null  float64
 70  review_scores_value                           27684 non-null  float64
 71  requires_license                              0 non-null      float64
 72  license                                       0 non-null      float64
 73  instant_bookable                              31907 non-null  object
 74  calculated_host_listings_count                31907 non-null  int64
 75  calculated_host_listings_count_entire_homes   31907 non-null  int64
 76  calculated_host_listings_count_private_rooms  31907 non-null  int64
 77  calculated_host_listings_count_shared_rooms   31907 non-null  int64
 78  region_id                                     31907 non-null  int64
 79  region_name                                   31907 non-null  object
 80  region_parent_id                              31907 non-null  int64
 81  region_parent_name                            31907 non-null  object
 82  region_parent_parent_id                       31907 non-null  object
 83  region_parent_parent_name                     31907 non-null  object
 84  reviews_per_month                             27692 non-null  float64
dtypes: float64(27), int64(20), object(38)
memory usage: 20.7+ MB

In [7]:
# Let's have a quick look at the first 5 rows of the dataframe
df.head(5)

,id,listing_url,scrape_id,last_searched,last_scraped,source,name,description,neighborhood_overview,picture_url,...,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,region_id,region_name,region_parent_id,region_parent_name,region_parent_parent_id,region_parent_parent_name,reviews_per_month
0,6.036770e+17,https://www.airbnb.com/rooms/603677011869258126,2.025060e+13,6/12/2025,6/22/2025,country scrape,"Tranquil, One Bedroom Apartment close to Dublin",Take a break and unwind in the peaceful oasis ...,Located in a small rural village approximately...,https://a0.muscache.com/pictures/hosting/Hosti...,...,2,0,0,13250400,Baltinglass LEA-6,255001,Wicklow County Council,IE062,Mid-East,4.30
1,2.830102e+07,https://www.airbnb.com/rooms/28301020,2.025060e+13,6/12/2025,6/22/2025,country scrape,The Fairy House In The Garden Of Ireland Wicklow.,Nestled at the foothills of the Wicklow mounta...,The accomadation is situated in a tranquil rel...,https://a0.muscache.com/pictures/36f378e4-8dc8...,...,1,0,0,13250400,Baltinglass LEA-6,255001,Wicklow County Council,IE062,Mid-East,3.50
2,1.141860e+18,https://www.airbnb.com/rooms/1141864011309312026,2.025060e+13,6/12/2025,6/22/2025,country scrape,Spacious Double Room in Cloyne.R.6,Spacious Double Room Ensuite in the heart of C...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,...,0,4,0,1340402,Midleton LEA-7,45501,Cork County Council,IE053,South-West,0.08
3,1.138644e+07,https://www.airbnb.com/rooms/11386441,2.025060e+13,6/12/2025,6/22/2025,country scrape,The Cow House Tinode Farmyard,WINNER of 'BEST HOUSE' 2014 at the Architectur...,NaN,https://a0.muscache.com/pictures/a80aa3dc-9216...,...,3,0,0,13250400,Baltinglass LEA-6,255001,Wicklow County Council,IE062,Mid-East,0.07
4,7.673770e+17,https://www.airbnb.com/rooms/767377133564836268,2.025060e+13,6/12/2025,6/22/2025,country scrape,1 BedRoom Apartment-Shanagolden,Enjoy easy access to everything from this perf...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,...,1,0,0,13120401,Adare-Rathkeale LEA-6,125002,Limerick City And County Council,IE051,Mid-West,NaN

In [17]:
# Check the unique values in the 'region_parent_name' column
df['region_parent_name'].unique()

array(['Wicklow County Council', 'Cork County Council',
       'Limerick City And County Council', 'Galway County Council',
       'Leitrim County Council', 'Fingal County Council',
       'Mayo County Council', 'Waterford City And County Council',
       'Kerry County Council', 'Meath County Council',
       'Wexford County Council', 'Offaly County Council',
       'Sligo County Council', 'Clare County Council',
       'Tipperary County Council', 'Roscommon County Council',
       'Dublin City Council', 'Galway City Council',
       'South Dublin County Council',
       'Dun Laoghaire-rathdown County Council', 'Monaghan County Council',
       'Cavan County Council', 'Louth County Council',
       'Kildare County Council', 'Kilkenny County Council',
       'Donegal County Council', 'Westmeath County Council',
       'Cork City Council', 'Laois County Council',
       'Longford County Council', 'Carlow County Council'], dtype=object)

In [20]:
# Lets do some data manipulation to transform 'region_parent_name' into counties
df['region_parent_name'] = df['region_parent_name'].str.replace('City And County Council', '').str.strip()
df['region_parent_name'] = df['region_parent_name'].str.replace('County Council', '').str.strip()
df['region_parent_name'] = df['region_parent_name'].str.replace('City Council', '').str.strip()
df['region_parent_name'] = df['region_parent_name'].str.replace('South Dublin', 'Dublin').str.strip()
df['region_parent_name'] = df['region_parent_name'].str.replace('Dun Laoghaire-rathdown', 'Dublin').str.strip()

In [22]:
# Verify the changes
print(df['region_parent_name'].head(10))
print(df['region_parent_name'].unique())

0      Wicklow
1      Wicklow
2         Cork
3      Wicklow
4     Limerick
5       Galway
6      Leitrim
7       Fingal
8         Mayo
9    Waterford
Name: region_parent_name, dtype: object
['Wicklow' 'Cork' 'Limerick' 'Galway' 'Leitrim' 'Fingal' 'Mayo'
 'Waterford' 'Kerry' 'Meath' 'Wexford' 'Offaly' 'Sligo' 'Clare'
 'Tipperary' 'Roscommon' 'Dublin' 'Monaghan' 'Cavan' 'Louth' 'Kildare'
 'Kilkenny' 'Donegal' 'Westmeath' 'Laois' 'Longford' 'Carlow']

In [ ]:
# Save the cleaned dataset to a new CSV file
df.to_csv('Ireland_Airbnb_Listing__Detailed__Customer.csv', index=False)